@media only screen and (min-width: 1200px) {

	.container{
		padding: 0;
		margin: 0 40px;
	}

	/*****NAVBAR*****/
	.navbar{
		display: grid;
		grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "navbar_logo . navbar_housing navbar_activity navbar_signup";
	}

	/*****FILTER BAR*****/

	.filter_nav{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}

	.filter_button{
		margin-left: 25px;
	}

	/*****CARDS*****/

	.hosting{
		display: grid;
		grid-template-columns: 2fr 1fr;
		margin: 0;
	}

	/*****HOUSING*****/
	


	/*****POPULAR*****/

	.popular{
		border: solid 1px transparent;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		margin-right: 20px;
}

	.popular_grid{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 4em 11em 11em 11em;
	}

	.popular_card_img{
		height: 500px;
	}
}