@media only screen and (min-width: 1200px) {
	/*****NAVBAR*****/
	.navbar{
		display: grid;
		grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "navbar_logo . navbar_housing navbar_activity navbar_signup";
	}

	/*****FILTER*****/

	.filter_nav{
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		margin-top: 20px;
	}

	.filter_button{
		margin-left: 25px;
	}

	/*****CARDS*****/

	.hosting{
		display: grid;
		grid-template-columns: 2fr 1fr;
		grid-template-rows: 1fr;
		margin: 0;
	}

	/*****HOUSING*****/

	.housing{
		background-color: #F2F2F2;
		border: solid 1px transparent;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		margin: 0 20px;
	}

	.housing_grid{
		padding-bottom: 12px;
	}

	.housing_title{
		font-size: 1.2em;
	}

	/*****POPULAR*****/

	.popular{
		border: solid 1px transparent;
		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-ms-border-radius: 20px;
		-o-border-radius: 20px;
		margin: 0 20px;
	}

	.popular_grid{
		padding-bottom: 12px;
	}

	.popular_title{
		font-size: 0.8em;
	}

	/*****ACTIVITY*****/

	.activity_title{
		font-size: 1.1em;
	}

	.activity_grid{
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: 4em 13em 2em 13em;
		row-gap: 1em;
		column-gap: 1em;
		padding-bottom: 30px;
		grid-template-areas: "activity_area_title activity_area_title activity_area_title activity_area_title"
							 "activity_area_1 activity_area_2 activity_area_4 activity_area_5" 
							 "activity_area_1 activity_area_2 activity_area_4 activity_area_6"
							 "activity_area_1 activity_area_3 activity_area_4 activity_area_6";

	}

	.activity_title{
		margin-bottom: 0;
	}

	.activity_card{
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}

	.activity_card_img_large{
		object-fit: cover;
		width: 100%;
		height: 100%;
	}
	.activity_card_img_medium{
		object-fit: cover;
		width: 100%;
		height: 200px;
	}
	.activity_card_img_small{
		object-fit: cover;
		width: 100%;
		height: 150px;
	}
}
