@media only screen and (min-width: 965px) {
	.navbar{
		display: grid;
		grid-template-columns: 1fr 10fr 1fr 1fr 1fr;
		grid-template-rows: 1fr;
		grid-template-areas: "navbar__button--logo . navbar__button--heberg navbar__button--activity navbar__button--signup";
	}
}