*, *::before, *::after{
	box-sizing: border-box;
}

body{
	font-family: 'Raleway', sans-serif;
	margin: 0;
	padding: 0;
}

.container{
	padding: 0;
	margin: 0 20px;
}

a{
	color: inherit;
	text-decoration: none;
}

/*****NAVBAR*****/

.navbar{
	display: grid;
	grid-auto-columns: 1fr 1fr;
	grid-template-rows: 4em 4em;
	grid-template-areas: "navbar_logo navbar_signup"
						 "navbar_housing navbar_activity";
}

.navbar_button{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	border-bottom: solid 3px transparent;
	border-top: solid 3px transparent;
}

.navbar_button_logo{
	grid-area: navbar_logo;
	padding-left: 0;
	padding-top: 10px;
	margin-left: 20px;
}
.navbar_button_signup{
	grid-area: navbar_signup;
	justify-self: end;
	font-weight: 800;
	color: #0065FC;
	padding-right: 0;
	padding-top: 10px;
	margin-right: 20px;
	transition: transform .2s;
}
.navbar_button_housing{
	grid-area: navbar_housing;
	border-bottom: solid 3px #0065FC;
	color: #0065FC;
	font-weight: 500;
}
.navbar_button_activity{
	grid-area: navbar_activity;
	border-bottom: solid 3px #F2F2F2;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

/*****SEARCH*****/

.search h1{
	font-weight: 800;
	font-size: 1.5em;
	margin-top: 25px;
	margin-bottom: 10px;
}

.search p{
	font-weight: 500;
	font-size: 1em;
	margin: 0;
}

.search_textzone{
	display: flex;
	margin-top: 25px;
}

.search_example{
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
	border-left: none;
	border-right: none;
	width: 270px;
	padding: 0 0 0 25px;
	font-weight: bold;
	outline: none;
}

#search_position_icon{
	align-content: center;
	background-color: #F2F2F2;
	padding: 13px 13px 13px 13px;
	font-size: 0.85em;
	border: solid 1px #F2F2F2;
	border-radius: 12px 0px 0px 12px;
	-webkit-border-radius: 12px 0px 0px 12px;
	-moz-border-radius: 12px 0px 0px 12px;
	-ms-border-radius: 12px 0px 0px 12px;
	-o-border-radius: 12px 0px 0px 12px;
}

.search_button{
	border: none;
	background: none;
	padding: 0;
}

#search_searching_icon{
	display: inline-block;
	position: relative;
	left: -10px;
	background-color: #0065FC;
	color: #FFF;
	padding: 15px 15px 15px 15px;
	font-size: 0.75em;
	border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-ms-border-radius: 12px 12px 12px 12px;
	-o-border-radius: 12px 12px 12px 12px;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

.search_button_desktop{
	display: none;
}

/*****FILTERBAR*****/

.filter h2{
	font-size: 0.95em;
	font-weight: 800;
	margin: 20px 0 0 0;
}

.filter_link{
	padding: 5px 15px 10px 5px;
	font-weight: 800;
	font-size: 0.9em;
}

.filter_nav{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filter_button{
	display: inline-block;
	border: solid 2px #F2F2F2;
	margin-top: 8px;
	border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-ms-border-radius: 50px 50px 50px 50px;
	-o-border-radius: 50px 50px 50px 50px;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

#filter_economy_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 10px 12px 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

#filter_family_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 14px 12px 14px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

#filter_heart_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 12px 12px 12px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

#filter_pets_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 11px 12px 11px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	cursor: pointer;
	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
	-ms-transition: .3s;
	-o-transition: .3s;
}

#filter_info_icon{
	display: block;
	position: absolute;
	font-size: 0.8em;
	border: solid 1px #DEEBFF;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 6px 10px 6px 10px;
	color: #0065FC;
	margin-top: 17px;
}

.filter_info p{
	display: inline-block;
	padding-left: 35px;
	margin-top: 20px;
}

/*****CARDS*****/

.hosting{
	display: flex;
	flex-direction: column-reverse;
	margin: 0;
}

.cards{
	background-color: #FFF;
	border: solid 1px #F2F2F2;
	border-radius: 15px;
	box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.15);
	margin: 10px 20px 10px 20px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	-ms-border-radius: 15px;
	-o-border-radius: 15px;
}

.hosting span{
	font-weight: 600;
}

/*****STARS*****/

.stars i{
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
}

.stars{
	margin: 0 0 10px 0;
}

.blue_star{
	color: #0065FC;
}

.grey_star{
	color: #cacaca;
}
/*****POPULAR*****/

.popular{
	background-color: #F2F2F2;
	margin-top: 20px;
}

.popular_grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4em repeat(3, 1fr);
	row-gap: 0.7em;
	padding-bottom: 30px;
	margin: 0 20px;
}

.popular_title{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 0 10px 0;
}

.popular_title i{
	font-size: 1.3em;
}

.popular_title h2{
	font-size: 1.5em;
	margin: 0;
}

.popular_card{
	display: flex;
	flex-direction: row;
	margin: 0;
	transition: transform .2s;
}

.popular_card h3{
	font-size: 1.2em;
}

.popular_card p{
	font-size: 1em;
}

.popular_card_img{
	border: solid 6px transparent;
	border-radius: 15px 0 0 15px;
	min-width: 130px;
	max-width: 130px;
	height: 100%;
	object-fit: cover;
	-webkit-border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	-ms-border-radius: 15px 0 0 15px;
	-o-border-radius: 15px 0 0 15px;
}

.popular_card_desc{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 0 20px 0 15px;
}

.popular_grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4em repeat(3, 9em);
	row-gap: 0.7em;
	padding-bottom: 30px;
	grid-template-areas: "popular_area_title"
						 "popular_area_1"
						 "popular_area_2"
						 "popular_area_3";
}

.popular_card_desc_title p{
	margin: 5px 0 0 0;
}

/*****HOUSING*****/

.housing{
	background-color: #FFF;
}

.housing_title{
	display: flex;
	align-items: flex-end;
	margin: 0 0 10px 0;
}

.housing_title h2{
	font-size: 1.5em;
	margin: 0;
}

.housing_grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4em repeat(6, 1fr) 2em;
	grid-template-areas: "housing_area_title"
						 "housing_area_1" 
						 "housing_area_2"
						 "housing_area_3" 
						 "housing_area_4"
						 "housing_area_5"
						 "housing_area_6"
						 "housing_area_showmore";
	row-gap: 0.7em;
	column-gap: 0.7em;
	padding-bottom: 30px;
	margin: 0 20px;
}

.housing_card{
	margin: 0;
	transition: transform .2s;
}

.housing_card h3{
	font-size: 1.2em;
	margin: 0;
}

.housing_card p{
	font-size: 0.9em;
	margin: 0;
}

.housing_card_desc{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 20px;
}

.housing_card_desc_title{
	margin-bottom: 5px;
}

.housing_card_img{
	border: solid 6px transparent;
	border-radius: 15px 15px 0 0;
	width: 100%;
	height: 135px;
	object-fit: cover;
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-o-border-radius: 15px 15px 0 0;
}

.housing_showmore{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	font-size:  1em;
	font-weight: 700;
	margin-left: 20px;
}

.housing_area_title{
	grid-area: housing_area_title;
}
.housing_area_1{
	grid-area: housing_area_1;
}
.housing_area_2{
	grid-area: housing_area_2;
}
.housing_area_3{
	grid-area: housing_area_3;
}
.housing_area_4{
	grid-area: housing_area_4;
}
.housing_area_5{
	grid-area: housing_area_5;
}
.housing_area_6{
	grid-area: housing_area_6;
}
.housing_showmore{
	grid-area: housing_area_showmore;
}

/*****ACTIVITY*****/

.activity_grid{
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 4em repeat(6, 1fr);
	row-gap: 0.7em;
	column-gap: 0.7em;
	padding-bottom: 30px;
	grid-template-areas: "activity_area_title"
						 "activity_area_1"
						 "activity_area_2"
						 "activity_area_3"
						 "activity_area_4"
						 "activity_area_5"
						 "activity_area_6";
}

.activity_title{
	display: flex;
	align-items: flex-end;
	margin: 0 0 10px 0;
}

.activity_card{
	margin: 0;
	transition: transform .2s;
}

.activity_card_title{
	margin: 18px 0 18px 15px;
	font-size: 1.1em;
	font-weight: 800;
}

.activity_card_img{
	border: solid 0px transparent;
	border-radius: 15px 15px 0 0;
	width: 100%;
	height: 130px;
	object-fit: cover;
	-webkit-border-radius: 15px 15px 0 0;
	-moz-border-radius: 15px 15px 0 0;
	-ms-border-radius: 15px 15px 0 0;
	-o-border-radius: 15px 15px 0 0;
	object-position: 0% 40%;
}

.activity_title{
	grid-area: activity_area_title;
}
.activity_area_1{
	grid-area: activity_area_1;
}
.activity_area_2{
	grid-area: activity_area_2;
}
.activity_area_3{
	grid-area: activity_area_3;
}
.activity_area_4{
	grid-area: activity_area_4;
}
.activity_area_5{
	grid-area: activity_area_5;
}
.activity_area_6{
	grid-area: activity_area_6;
}

/*****FOOTER*****/

footer{
	display: flex;
	flex-direction: column;
	height: 500px;
	justify-content: space-around;
	background-color: #F2F2F2;
}

section{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.footer_section a{
	margin-top: 10px;
	transition: transform .2s;
}

.footer_about{
	margin-top: 25px;
}

.footer_assist{
	margin-bottom: 50px;
}

/*********HOVER**********/

.navbar_button_activity:hover{
	color: #0065FC;
	border-bottom: solid 3px #0065FC;
}

#search_searching_icon:hover{
	background-color: #DEEBFF;
	color: #0065FC;
}

.navbar_button_signup:hover{
	transform: scale(1.05);
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	-webkit-animation: text-shadow-drop-center 0.6s both;
	animation: text-shadow-drop-center 0.6s both;
}

.filter_button:hover{
	background-color: #DEEBFF;
	color: #0065FC;
}

.filter_button:hover > #filter_economy_icon{
	background-color: #FFF;
}
.filter_button:hover > #filter_family_icon{
	background-color: #FFF;
}
.filter_button:hover > #filter_heart_icon{
	background-color: #FFF;
}
.filter_button:hover > #filter_pets_icon{
	background-color: #FFF;
}

.housing_card:hover{
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	color: #0065FC;
}

.popular_card:hover{
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	color: #0065FC;
}

.activity_card:hover{
	transform: scale(1.01);
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-o-transform: scale(1.01);
	color: #0065FC;
}

.housing_showmore:hover{
	color: #0065FC;
}

.footer_section a:hover{
	color: #0065FC;
	transform: scale(1.02);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
}

/*****ANIMATIONS*****/

@-webkit-keyframes text-shadow-drop-center {
	0% {
	  text-shadow: 0 0 0 rgba(0, 101, 252, 0);
	}
	100% {
	  text-shadow: 0 0 18px rgba(0, 101, 252, 0.50);
	}
  }
  @keyframes text-shadow-drop-center {
	0% {
	  text-shadow: 0 0 0 rgba(0, 101, 252, 0);
	}
	100% {
	  text-shadow: 0 0 18px rgba(0, 101, 252, 0.50);
	}
  }