*, *::before, *::after{
	box-sizing: border-box;
}

body{
	margin: 0;
	padding: 0;
}

.container{
	padding: 0;
	margin: 0 20px;
}

a{
	color: inherit;
	text-decoration: none;
}

/*****NAVBAR*****/

.navbar{
	display: grid;
	grid-auto-columns: 1fr 1fr;
	grid-template-rows: 1.0fr 0.7fr;
	grid-template-areas: "navbar__button--logo navbar__button--signup"
						 "navbar__button--heberg navbar__button--activity";
}

.navbar__button{
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	padding: 0 20px;
	border-bottom: solid 3px transparent;
	border-top: solid 3px transparent;
}


.logo{
	grid-area: navbar__button--logo;
	padding-left: 25px;
	padding-top: 10px;
}
.signup{
	grid-area: navbar__button--signup;
	justify-self: end;
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	color: #0065FC;
	padding-right: 25px;
	padding-top: 10px;
}
.heberg{
	grid-area: navbar__button--heberg;
	font-family: 'Raleway', sans-serif;
	border-bottom: solid 3px #0065FC;
	color: #0065FC;
	font-weight: 600;
}
.activ{
	grid-area: navbar__button--activity;
	font-family: 'Raleway', sans-serif;
	border-bottom: solid 3px #F2F2F2;
}

/*****RESEARCHBAR*****/

.researchbar h1{
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 1.1em;
	margin-top: 25px;
	margin-bottom: 10px;
}

.researchbar h2{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
	font-size: 0.9em;
	margin: 0;
}

.researchbar__search{
	display: flex;
	margin-top: 25px;
}

#research__position__icon{
	align-content: center;
	background-color: #F2F2F2;
	padding: 13px 13px 13px 13px;
	font-size: 0.85em;
	border: solid 1px #F2F2F2;
	border-radius: 12px 0px 0px 12px;
	-webkit-border-radius: 12px 0px 0px 12px;
	-moz-border-radius: 12px 0px 0px 12px;
	-ms-border-radius: 12px 0px 0px 12px;
	-o-border-radius: 12px 0px 0px 12px;
}

.researchbar__example{
	font-family: 'Raleway', sans-serif;
	border-top: solid 1px #F2F2F2;
	border-bottom: solid 1px #F2F2F2;
	border-left: none;
	border-right: none;
	width: 270px;
	padding: 0 0 0 25px;
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	outline: none;
}

#research__search__icon{
	display: inline-block;
	position: absolute;
	left: 315px;
	background-color: #0065FC;
	color: #FFF;
	padding: 15px 14px 15px 14px;
	font-size: 0.75em;
	border-radius: 12px 12px 12px 12px;
	-webkit-border-radius: 12px 12px 12px 12px;
	-moz-border-radius: 12px 12px 12px 12px;
	-ms-border-radius: 12px 12px 12px 12px;
	-o-border-radius: 12px 12px 12px 12px;
}

/*****FILTERBAR*****/

.filterbar h2{
	font-family: 'Raleway', sans-serif;
	font-size: 0.95em;
	font-weight: 800;
	margin: 20px 0 0 0;
}

.filterbar__link{
	font-family: 'Raleway', sans-serif;
	padding: 5px 15px 10px 5px;
	font-weight: 800;
	font-size: 0.9em;
}

.filterbar__nav{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filterbar__button{
	display: inline-block;
	border: solid 2px #F2F2F2;
	margin-top: 8px;
	border-radius: 50px 50px 50px 50px;
	-webkit-border-radius: 50px 50px 50px 50px;
	-moz-border-radius: 50px 50px 50px 50px;
	-ms-border-radius: 50px 50px 50px 50px;
	-o-border-radius: 50px 50px 50px 50px;
}

#filter_economy_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 10px 12px 10px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

#filter_family_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 14px 12px 14px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

#filter_heart_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 12px 12px 12px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

#filter_pets_icon{
	background-color: #DEEBFF;
	color: #0065FC;
	border: solid 1px transparent;
	padding: 12px 11px 12px 11px;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

#filterbar_info_icon{
	display: block;
	position: absolute;
	font-size: 0.8em;
	border: solid 1px #DEEBFF;
	border-radius: 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
	padding: 6px 9px 6px 9px;
	color: #0065FC;
	margin-top: 17px;
}

.filterbar__info p{
	font-family: 'Raleway', sans-serif;
	display: inline-block;
	padding-left: 35px;
	margin-top: 20px;
}

/*****CARDS*****/

.cardsgrid{
	font-family: 'Raleway', sans-serif;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 35em 56em 48em;
	margin: 0;
	padding: 0;
	grid-template-areas: "popular_cards_grid"
						 "accomodate_cards_grid"
						 "activity_cards_grid";
}

.cards{
	background-color: #FFF;
	border: solid 1px #F2F2F2;
	border-radius: 20px;
	box-shadow: 6px 6px 8px -4px rgba(0,0,0,0.15);
	margin: 10px 20px 10px 20px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	-ms-border-radius: 20px;
	-o-border-radius: 20px;
}

.cardsgrid h2, .cardsgrid p{
	margin-left: 20px;
}

.blue__star{
	color: #0065FC;
}

.grey__star{
	color: #cacaca;
}

/*****POPULAR CARDS*****/

.popular{
	background-color: #F2F2F2;
	grid-area: popular_cards_grid;
}

.popular__title{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}

.popular__title i{
	align-self: center;
	font-size: 1.3em;
}

.populargrid__cards{
	display: flex;
}

.populargrid__cards h2{
	font-size: 1em;
}

.populargrid__cards p{
	font-size: 0.85em;
}

.populargrid_img{
	border: solid 1px transparent;
	border-radius: 20px 0 0 20px;
	margin: 5px;
	min-width: 125px;
	min-height: 135px;
	max-width: 125px;
	max-height: 135px;
	object-fit: cover;
	-webkit-border-radius: 20px 0 0 20px;
	-moz-border-radius: 20px 0 0 20px;
	-ms-border-radius: 20px 0 0 20px;
	-o-border-radius: 20px 0 0 20px;
}

.cardsdesc{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

/*****ACCOMMODATE CARDS*****/

.accommodate{
	background-color: #FFF;
	grid-area: accomodate_cards_grid;
}

/*****ACTIVITY CARDS*****/

.activity{
	background-color: #FFF;
	grid-area: activity_cards_grid;
}

/*****STARS*****/
.stars i{
	display: inline;
	margin: 0;
	padding: 0;
	font-size: 0.5em;
}

.stars{
	margin-left: 20px;
}